.about-section {
  padding: 40px 20px;
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.about-left {
  flex: 1.2;
}

.about-text {
  font-size: 14px;
  line-height: 1.7;
  color: #c8c8c8;
  margin-bottom: 12px;
}

.sectionHedingLorem {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;
}

.aboutHeading {
  width: 514px;
  margin-left: 52px;
  margin-top: 10px;
  font-size: 33px;
  color: #ffffff;
  font-family: "Poltawski Nowy", serif;
  font-weight: 400;
}

.about-right {
  position: relative;
  width: 500px;
  height: 620px;
}

.about-main-img img {
  width: 310px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.about-side-images img:first-child {
  width: 380px;
  height: 330px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: 1;
}

.about-side-images img:last-child {
  width: 318px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 330px;
  left: 0;
  z-index: 2;
}
.line-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.line {
  width: 150px;
  height: 1px;
  background: #666;
}

.line-text {
  font-size: 20px;
  font-weight: 400;
  color: #c2c2c2;
}

@media (max-width: 900px) {
  .about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden; 
  }

  .about-right {
    width: 100%;
    max-width: 390px; 
    margin: 0 auto;
  }

  .about-main-img img {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }

  .about-side-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .about-side-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
 .aboutHeading{
   width: 480px;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 33px;
  color: #ffffff;
  font-family: "Poltawski Nowy", serif;
  font-weight: 400;
 }
}

