
.footer-section {
  text-align: center;
  color: white;
  margin-top: 80px;
  padding: 40px 0;
}


.footer-logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.footer-logo-circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-img {
  width: 30px;
  height: auto;
}

.footer-logo-text {
  font-size: 16px;
  letter-spacing: 0.30em;
  margin-top: 8px;
}

.footer-logo-sub {
  font-size: 13px;
  letter-spacing: 0.55em;
}

.footer-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 35px;
}

.footer-line {
  width: 240px;
  height: 1px;
  background: #666;
}

.footer-contact-title {
  font-size: 24px;
  letter-spacing: 1px;
  color: white;
}

.footer-social-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 35px 0;
}

.footer-social-row img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}


.footer-message-block {
  margin-top: 30px;
  padding: 0 20px;
}

.short-msg-heading {
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 18px;
}

.short-msg-text {
  font-size: 16px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8;
  color: #c5c5c5;
  text-align: center;
}

@media (max-width: 900px) {
  .footer-line {
    width: 80px;
  }
  .footer-contact-title {
    font-size: 18px;
  }
  .footer-social-row img {
    width: 35px;
    height: 35px;
  }
  .short-msg-heading {
    font-size: 26px;
  }
  .short-msg-text {
    font-size: 14px;
  }
}
