
.gallery-section {
  padding: 0 100px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.line-heading {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 100px;
}

.line {
  width: 200px;
  height: 1px;
  background: #666;
}

.line-text {
  font-size: 22px;
  color: #c2c2c2;
}


.gallery-slider {
  margin-top: 35px;
  width: 100%;
  overflow: hidden;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.gallery-row img {
  width: 100%;
  height: 350px;      
  max-width: 340px;   
  object-fit: cover;
  border-radius: 10px;
}


.gallery-caption {
  margin-top: 25px;
  font-size: 15px;
  color: #c2c2c2;
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 900px) {

  .gallery-section {
    padding: 0 20px;
  }

  .line-heading {
    padding-left: 20px;
  }

  .gallery-slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .gallery-slider::-webkit-scrollbar {
    display: none;
  }

  .gallery-row {
    display: flex;
    gap: 18px;
    width: max-content;
    padding: 10px 0;
  }

  .gallery-row img {
    width: 88vw;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
    scroll-snap-align: center;
    object-fit: cover;
  }

  .gallery-caption {
    font-size: 14px;
    padding: 0 10px;
  }
}
