.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  padding: 40px 60px; 
  box-sizing: border-box;
}

.hero-right {
  width: 514px;              
  color: #dddddd;
  display: flex;
  flex-direction: column;
}


.hero-left {
  position: relative;
  width: 500px;              
  height: auto;
}

.hero-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  padding-top: 40px;
}

.hero-small-img {
  position: absolute;
  right: -40px;
  bottom: -20px;
  width: 240px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  z-index: 10;
}


.hero-name-small {
  letter-spacing: 0.5em;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero-title {
  max-width: 514px;
  font-size: 33px;
  line-height: 121%;
  color: #ffffff;
  font-family: "Poltawski Nowy", serif;
}

.hero-line {
  width: 520px;
  height: 5px;
  background-color: #fff;
  margin: 20px 0;
}

.hero-desc {
  font-size: 14px;
  line-height: 1.7;
  color: #c8c8c8;
  margin-bottom: 18px;
  text-align: justify;
  max-width: 514px;            
}


.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}

.btn {
  padding: 9px 22px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.primary-btn {
  background: #514e4e89;
  color: white;
}

.outline-btn {
  background: #514e4e89;
  color: #ffffff;
}

@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .hero-photo {
    width: 100%;
    padding-top: 0;
  }

  .hero-small-img {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 15px;
  }

  .hero-right {
    text-align: left;
    padding: 0;
  }

  .hero-title {
    max-width: 100%;
    font-size: 26px;
    line-height: 1.3;
  }

  .hero-line {
    width: 100%;
  }

  .hero-desc {
    padding: 0;
    max-width: 100%;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: flex-start;
  }
}
