.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 90px;
  gap: 60px;
}

.hero-left {
  position: relative;
  width: 50%;
  height: 680px;
}

.hero-small-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 430px;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 3;
}

.hero-photo {
  position: absolute;
  left: -40px;
  bottom: -40px;
  width: 520px;
  height: 360px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
}

.hero-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  color: white;
}

.hero-name-small {
  letter-spacing: 0.3em;
  font-size: 12px;
  margin-bottom: 14px;
}

.hero-title {
  font-size: 38px;
  font-family: "Poltawski Nowy", serif;
  line-height: 1.2;
  color: white;
}

.hero-line {
  width: 100%;
  height: 3px;
  background: white;
  margin: 20px 0;
}

.hero-desc {
  font-size: 16px;
  line-height: 1.7;
  color: #c8c8c8;
  margin-bottom: 18px;
  text-align: justify;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.btn {
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.primary-btn,
.outline-btn {
  background: #514e4e89;
  color: white;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 30px 25px;
    gap: 40px;
    align-items: center;
  }

  .hero-left {
    width: 100%;
    height: 580px;
  }

  .hero-small-img {
    width: 65%;
    height: auto;
    right: 50%;
    transform: translateX(50%);
    top: 0;
  }

  .hero-photo {
    width: 75%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
  }

  .hero-right {
    width: 100%;
    margin-top: 90px;
    text-align: left;
  }

  .hero-title {
    font-size: 30px;
  }
}

@media (max-width: 630px) {
  .hero-section {
    padding: 15px;
    gap: 25px;
  }

  .hero-left {
    width: 100%;
    height: 500px;
  }

  .hero-small-img {
    width: 80%;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .hero-photo {
    width: 90%;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-right {
    width: 100%;
    margin-top: 100px;
  }

  .hero-title {
    font-size: 24px;
    text-align: left;
  }

  .hero-desc {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .hero-section {
    padding: 10px;
    gap: 20px;
  }

  .hero-left {
    width: 100%;
    height: 420px;
  }

  .hero-small-img {
    width: 75%;
    height: auto;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .hero-photo {
    width: 85%;
    height: auto;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-right {
    width: 100%;
    margin-top: 70px;
    text-align: left;
  }

  .hero-title {
    font-size: 20px;
  }

  .hero-desc {
    font-size: 12px;
  }
}

@media (max-width: 1040px) and (min-width: 768px) {
  .hero-section {
    padding: 40px 30px;
    gap: 40px;
  }

  .hero-left {
    width: 55%;
    height: 600px;
  }

  .hero-small-img {
    width: 70%;
    height: auto;
    top: 0;
    right: 0;
    left: auto;
    transform: none;
  }

  .hero-photo {
    width: 100%;
    height: 350px;
    left: 0;
  }

  .hero-right {
    width: 45%;
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-desc {
    font-size: 15px;
  }
}
