
.skills-section {
  margin-top: 50px;
  padding: 0;
}

.line-heading {
  display: flex;
  align-items: center;
  gap: 12px;

  
  width: auto;
  margin-left: 0;  
  padding-left: 10px; 
}

.line {
  width: 200px; 
  height: 1px;
  background: #666;
}

.line-text {
  font-size: 20px;
  color: #c2c2c2;
  white-space: nowrap; 
}

.skills-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
  padding-left: 117px; 
  padding-right: 117px;
}

.skill-item {
  flex: 1;
  text-align: center;
}

.skill-icon {
  font-size: 26px;
  margin-bottom: 8px;
}

.skill-title {
  margin: 0 0 6px;
  color: #ffffff;
  font-size: 15px;
}

.skill-text {
  margin: 0;
  font-size: 13px;
  color: #bcbcbc;
}

@media (max-width: 900px) {
  .skills-row {
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }

  .line-heading {
    padding-left: 20px;
  }
}
