.skills-section {
  margin-top: 60px;
  padding: 0;
}

.line-heading {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 100px;     
}

.line {
  width: 200px;
  height: 1px;
  background: #666;
}

.line-text {
  font-size: 22px;
  color: #c2c2c2;
  white-space: nowrap;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  padding: 0 100px;     
  gap: 60px;            
}

.skill-item {
  flex: 1;
  text-align: center;
}

.skill-icon img {
  width: 55px;         
  height: auto;
  margin-bottom: 10px;
}

.skill-title {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Poltawski Nowy", serif;
}

.skill-text {
  margin: 0;
  font-size: 14px;
  color: #bcbcbc;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 900px) {
  .line-heading {
    padding-left: 20px;
  }

  .skills-row {
    flex-direction: column;
    padding: 0 20px;
    gap: 35px;
  }

  .skill-item {
    text-align: center;
  }

  .skill-icon img {
    width: 60px;
  }
}
