.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 60px;
  background: #141414ff;
}

.hero-section {
  display: flex;
  gap: 40px;
  align-items: stretch;
  padding: 5px;
}

.hero-left {
  flex: 1;
  background: #101010;
  padding: 16px;
}

.hero-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-right {
  flex: 1;
  padding: 10px 0;
  padding-top: 5px;
  color: #dddddd;
}

.hero-name-small {
  letter-spacing: 0.5em;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.hero-title {
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 16px;
}

.hero-desc {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px;
  color: #bbbbbb;
}

.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 14px;
}

.btn {
  padding: 9px 22px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.primary-btn {
  background: #514e4e89;
  color: white;
}

.outline-btn {
  background: #514e4e89;
  color: #ffffff;
}

.section-heading {
  font-size: 20px;
  color: #636363ff;
  margin-bottom: 16px;
}

.section-heding-lorem {
  color: #ffffff;
}

.about-section {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.about-left {
  flex: 1.2;
}

.about-text {
  font-size: 14px;
  line-height: 1.7;
  color: #c8c8c8;
  margin-bottom: 12px;
}

.about-right {
  position: relative;
  width: 500px;
  height: 620px;
}

.about-main-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.about-side-images img:first-child {
  width: 450px;
  height: 330px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: 1;
}

.about-side-images img:last-child {
  width: 320px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 330px;
  left: 0;
  z-index: 2;
}

.skills-section {
  margin-top: 50px;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
}

.skill-item {
  flex: 1;
  text-align: center;
}

.skill-icon {
  font-size: 26px;
  margin-bottom: 8px;
}

.skill-title {
  margin: 0 0 6px;
  color: #ffffff;
  font-size: 15px;
}

.skill-text {
  margin: 0;
  font-size: 13px;
  color: #bcbcbc;
}

.gallery-section {
  margin-top: 50px;
}

.gallery-row {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.gallery-row img {
  flex: 1;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.gallery-caption {
  margin-top: 14px;
  font-size: 13px;
  color: #c2c2c2;
  text-align: center;
}

.footer-section {
  margin-top: 60px;
  text-align: center;
}

.footer-logo-block {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.footer-logo-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footer-logo-text {
  font-size: 12px;
  letter-spacing: 0.18em;
}

.footer-logo-sub {
  font-size: 11px;
  color: #bcbcbc;
}

.footer-contact-title {
  margin-top: 20px;
  font-size: 14px;
  color: #e0e0e0;
}

.footer-social-row {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 18px;
  align-items: center;
}

.footer-social-row img {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin: 0 10px;
}

.social-circle {
  width: 20px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  background: #222;
}

.footer-message-block {
  margin-top: 30px;
}

.short-msg-heading {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  gap: 1px;
}

.short-msg-text {
  margin: 0;
  font-size: 13px;
  color: #c5c5c5;
}

@media (max-width: 900px) {
  .hero-section,
  .about-section,
  .skills-row,
  .gallery-row {
    flex-direction: column;
  }

  .skills-row {
    text-align: left;
  }

  .about-side-images img {
    width: 100%;
  }
}
